@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f0ea;
    color: #798252;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

header {
    padding: 2rem;
    background-color: #331f19;
    text-align: center;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h2 {
    color:#331f19;
    font-size: 1.2rem;

}

input[type="radio"], input[type="checkbox"] {
    accent-color: #a7b646

}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    padding:0.6rem;
    border: 2px solid #ccd595;
    border-radius: 5px;
    background-color: transparent;
}

input::placeholder {
    color: #CBBBA7

}

select {
    cursor: pointer;
    background-color: #CBBBA7 ;
    color:#331f19;
    border-radius: 5px;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;

}

th {
    background-color: #CCD595;
    color: #331F19;
    padding: 1rem
}

td {
    color:  #331F19;
    padding: 1rem;
    text-align: center;
}
tfoot td {
    background-color: #331f19;
    color: #f4f0ea
}

details {
    background-color: #ccd595;
    border-radius: 5px;
    padding: 1rem
}
summary{
    color: #331F19;
    margin: 0.5rem;
    cursor: pointer
}

ol {
    margin-left: 1.5rem;
}

ol li {
    padding: 0.2rem
}

fieldset {
    border: 2px solid #ccd595;
    border-radius: 5px;
    padding: 1rem;
}
legend {
    color: #331;
    padding: 0 0.5rem; 
}

textarea {
    outline: none;
    border-radius: 5px;
    border: 2px solid #ccd595;
    background-color: transparent;

}

button {
    background-color: #ccd595;
    border: none;
    padding: 0.8rem;
    color: #331F19;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #331F19;
    padding: 2rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #ccd595
}

.paragrafo-footer {
    color: #f4f0ea
}

@media (max-width: 768px) {
    header,
    main,
    footer {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }
}
