@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(223, 178, 120);
    color: rgb(133, 44, 44);
    font-family: "Cabin" sans-serif;
    font-weight: 400;
}
header{
    padding: 3rem;
    background-color: rgb(88, 21, 21);
    color: rgb(228, 174, 174);

}
fieldset {
    font-size: 1.1rem;
    border: 2px solid #4d522b;
    border-radius: 5px;
    padding: 1rem;
}

legend {
    color: #4d522b;
    padding: 0 0.5rem;
}

.github-link {
    text-align: center;
    font-size: 50px;
    color: black;
    text-decoration: none;
}
.github-link:hover {
    text-align: center;
    color: #333
}

main {
    width: 100%;
    padding: 1rem;
}
footer {
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.footer-bottom i {
    font-size: 32px;
}

@media (max-width: 768px) {
    header,
    main,
    footer {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 1rem;
    }
}
